<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farhat Habib | Professional Page</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
    <div class="container">
        <header class="neon-header">Farhat Habib</header>
        <nav>
            <ul class="links-list">
                <li><a href="{{ '/publications.html' | relative_url }}">Publications</a></li>
                <li><a href="{{ '/experiments.html' | relative_url }}">Experiments</a></li>
                <li><a href="{{ '/media-mentions.html' | relative_url }}">Media Mentions</a></li>
            </ul>
        </nav>
        <section class="bio">
            <h2>Brief Bio</h2>
            <p>
            </p>
            <p>
            </p>
        </section>
    </div>
</body>
</html>

